html {
  background-color: #f8f8f8; }

body {
  padding: 0;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

#main {
  padding: 0;
}

a {
  color: white; 
  text-decoration: none !important;
}

/************LANDING PAGE************/

img.responsive-img {
  z-index: -1;
  float:left;
  filter: brightness(60%);
  clip-path: border-box;
}

a.landing-page {
  color: white; 
  text-decoration: none !important;
}

.banner {
  position: absolute;
  display: block;
  color: white; 
  margin: 200px auto;
  left: 0;
  right: 0;
  width: 400px;
  float: none;
}

button.landing-page {
  width: 100px;
  color: white; 
  padding: 10px;
  background-color: Transparent;
  margin: 20px;
  outline:none;
  border-style: solid; 
  border-color: white; 
  border-width: 2px; 
}

.logo {
  font-size: 70px;

}
/************LOGIN & SIGNUP************/

.signin-container {
  width: 400px;
  height: 500px;
  margin: 300px auto; 
  z-index: 2;
  background-color: white;
  padding: 30px;
  position: absolute;
  margin: 150px auto;
  left: 0;
  right: 0;
}

input.form-control.landing-page {
  text-align: center;
}

/************NAVBAR************/
.nav-wrapper {
  z-index: 2 !important;
}
/********MAP************/
#map {
  z-index: -1 !important;
}
.marker {
  background-image: url('../images/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
/*****RESTAURANT DIV******/

.restaurant-list {
  margin-top: 10px;
  z-index: 2;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  background-color: white;
  padding: 10px;
}

.restaurant-div:hover {
  background-color: #b8b8b8;
}

/********RESTAURANT DETAIL**********/

.restaurant-detail {
  opacity: 0.8;
  background-color: #b8b8b8;
  width: 300px;
  height: 400px;
  position: absolute;
  right: 50px;
  top: 100px;
  z-index: 3;
}

.restaurant-detail-container {
  margin: 20px;
  color: white;
}
/*******MENU***************/

.menu-ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.dish-div {
  border-style: solid !important;
  border-width: 1px !important;
  padding: 7px !important;
}

.dish-div:hover {
  background-color: #d5d5d5 !important;
}
/********CART************/
.cart-bar {
  width: 300px;
  right: 0;
  position: absolute;
  height:700px;
  background-color: white;
  z-index: 1;
  padding: 30px;
  border-style: solid;
  border-width: 1px;
}
